@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    width: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchTerm {
    flex: 1;
    border: none;
    padding: 10px;
    height: 36px;
    outline: none;
    color: #00000087;
}

.searchButton {
    border: none;
    background-color: #00B4CC;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchButton:hover {
    background-color: #0096A6;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
    margin-top: 20px; 
    cursor: pointer;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonCategory {
    display: flex;
    justify-content: space-between;
}


#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title {
    text-align: center;
    font-family: 'Kablammo', cursive;
    font-size: 50px;
}

.searchButton {
    display: flex;
    padding: 20px;
}

.pagination {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagiBtn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%; /* Use 50% to create a circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: attr(data-category);
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }

  